@mixin section-title {
    font-weight: bold;
    font-size: 35px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-image: url("/img/header_background.jpg");
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }

    &__logo {
        color: white;
        font-size: 50px;
        letter-spacing: 0.5em;
        text-transform: uppercase;

        p {
            margin: 0;
        }
    }

    &__menu {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: start;

        li {
            margin-left: 30px;

            a {
                text-decoration: none;
                color:white;
            }
        }
    }

    &__main {
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;

        img {
            height: 200px;
            width: 200px;
            object-fit: cover;
            border: 3px solid white;
        }
    }

    &__name {
        font-size: 20px;
        text-transform: uppercase;
        color: white;
        letter-spacing: 0.03em;
    }

    &__info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__text {
        color:white;
        margin: 0;
        padding: 0;
        font-size: 30px;
    }

    &__bigtext {
        color:white;
        margin: 0;
        padding: 0;
        font-size: 45px;
    }

    &__arrow {
        width: 30px;
        height: 30px;
        margin-top: 100px;


        img {
            width: 30px;
            height: 30px;
        }

    }



}

.about {
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    
    &__title {
        font-size: 28px;
        text-transform: uppercase;
    }

    &__desc {
        font-size: 20px;
        text-transform: uppercase;
    }

    &__text {
        max-width: 750px;
        text-align: center;
        font-size: 14px;
    }

    &__buttons {
        margin-top: 20px;
    }

    .button__resume {
        background-color: purple;
        cursor: pointer;
        border: none;
        color:white;
        width: 135px;
        height: 35px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 10px;
        margin-right: 10px;
    }

    .button__work {
        background-color: black;
        color:white;
        text-decoration: none;
        cursor: pointer;
        border: none;
        width: 100px;
        height: 35px;
        text-transform: uppercase;
        font-size: 10px;

    }
}

.service {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-bottom: 50px;
        @include section-title;
    }

    &__skills {
        display: flex;
        justify-content: space-between;
    }

    &__skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;

        &:not(:first-child) {
            margin-left: 40px;
        }

        &__img {
            height: 115px;
            width: 162px; 
        }

        &__name {
            font-weight: bold;
        }

        &__text {
            font-size: 14px;
            margin-top: 4px;
            text-align: center;
        }
    }

}

.work {
    height: 150px;
    background-image: url('/img/work_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;

    &__title {
        color: white;
        @include section-title;
    }

    &__text {
        color: white;
        font-size: 15px;
        margin: 30px 0;
    }

    &__button {
        cursor: pointer;
        border: none;
        text-decoration: none;
        width: 100px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        line-height: 30px;
        padding-top: 2px;
        background-color: #ffffff9c;
    }
}

.recent {
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__name {
        @include section-title;
    }

    &__desc {
        font-size: 15px;
    }

    &__list {
        list-style-type: none;
        display: flex;

        &__item {
            text-transform: uppercase;
            margin-left: 30px;
            cursor: pointer;

            &:first-child {
                margin-left: 0;
                background-color: purple;
                color:white;
                padding: 2px 6px;
                margin-top: -2px;
            }
        }  
    }

    &__table {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        &__img {
            height: 285px;
            width: 285px;
            border: 1px solid black;
        }

    }


}

.people {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        @include section-title;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    &__say {
        display: flex;
        justify-content: space-between;
    }

    &__feedback {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 300px;

        &:not(:first-child) {
            margin-left: 60px;
        }

        &__img {
            height: 100px;
            width: 100px;
        }

        &__expert {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 0.05em;
        }

        &__who {
            font-size: 15px;
            margin-top: -20px;
        }

        &__text {
            text-align: center;
            font-size: 14px;

        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    max-width: 900px;
    margin: 100px auto 60px;

    &__title {
        @include section-title;
        margin-bottom: 30px;

    }

    &__container {
        display: flex;
        width: 100%;
    }

    &__info {
        width: 30%;
        display: flex;
        flex-direction: column;

        &__item {
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }

            &__name {
                font-weight: bold;
                font-size: 17px;
            }

            &__img {
                width: 15px;
                height: 15px;
            }

            &__desc {
                font-size: 15px;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 70%;

        &__container {
            display: flex;
            width: 100%;

            &__item {
                background-color: #0000003d;
                border: none;
                height: 35px;
                width: 100%;

                &:first-child {
                    margin-right: 20px;
                }
            }
        }

        &__message {
            background-color: #0000003d;
            border: none;
            width: 100%;
            margin-top: 20px;
            height: 190px;
            padding: 0;
            line-height: 30px;
            font-family: 'Open Sans', sans-serif;
            resize: none;
        }

        &__button {
            border: none;
            height: 35px;
            background-color: purple;
            color:white;
            text-transform: uppercase;
            margin-top: 20px;
            cursor: pointer;
        }
    }
}

.footer {
    height: 100px;
    background-color: rgb(144, 64, 160);
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__table {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;

        &__img {
            width: 30px;
            height: 30px;
            margin-left: 30px;
        }
    }


}
