$text-color: #000000d6;
$header-color: #a6a9e3;
$box-shadow-color: #0f0a1652;

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: $text-color;
}

.header {
    height: 100px;
    background-color: $header-color;
    display: flex;
    align-items: center;
    padding-left: 200px;

    &__logo {
        height: 80px;
        width: 80px;
    }

    &__title {
        margin-left: 20px;
        font-weight: bold;
    }
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 10px;

    &__title {
        font-size: 32px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    &__item {
        width: 420px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid $header-color;
        border-radius: 20px;
        box-shadow: 10px 10px 15px 0px $box-shadow-color;
        margin-bottom: 30px;

        &:not(:first-child) {
            margin-left: 30px;
        }

        &__header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;

            &__city {
                margin: 0;
                font-size: 40px;
            }

            &__coord {
                margin: 0;
            }
        }

        &__desc {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 80px;

            &__title {
                font-weight: bold;
                font-size: 30px;
            }

            &__img {
                height: 100px;
                width: 100px;
            }

            &__text {
                font-size: 20px;
                margin-top: 10px;
            }
        }

        &__summary {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;

            &__item {
                &:first-child {
                    margin-right: 30px;
                }

                margin-bottom: 25px;
            }

            &__text {
                margin: 0;
                font-style: italic;
            }
        }

        &__about {
            font-size: 16px;
        }
    }
}